<?xml version="1.0" encoding="UTF-8"?>


<web-app>
	
	<servlet>
		
		<servlet-name>signup1</servlet-name>
		<servlet-class>signup1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>login1</servlet-name>
		<servlet-class>login1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reservation</servlet-name>
		<servlet-class>reservation</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>view</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>delete</servlet-class>
	</servlet>
	<servlet>
		
		<servlet-name>update</servlet-name>
		<servlet-class>update</servlet-class>
	</servlet>
	
	


	<servlet-mapping>
		<servlet-name>signup1</servlet-name>
		<url-pattern>/signup1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login1</servlet-name>
		<url-pattern>/login1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reservation</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
</web-app>

